body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("fsttbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    padding-bottom: 80px;
    background: linear-gradient(to right, rgb(214, 213, 213), #e0e2e0);
    opacity: 0.95;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    border: 2px solid #f3c827;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #151f74;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large; 
}

input[type="submit"]{
    padding: 10px 15px;
    background-color: #f3c827;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

input[type="submit"]:hover {
    background-color: #a0872c;
}

.logosfst, .unilogo {
    position: absolute;
    top: 20px;
}

.logosfst {
    right: 20px;
}

.unilogo {
    left: 20px;
}

.logosfst img, .unilogo img {
    width: 250px;
    height: 100px;
}

.barrier {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: #f3c827;
    z-index: 1000;
}
.barrier2 {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
    z-index: 1001;
}